.container {
  background-color: var(--color-card);
  border-radius: calc(var(--radius) * 2);
  box-shadow: var(--shadow-lg);
  padding: 20px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 15px;
  }
}