.button {
  border: none;
  padding: 10px 20px;
  border-radius: var(--radius);
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.primary {
  background-color: var(--color-button-success);
  color: var(--color-primary-foreground);
}

.primary:hover:not(:disabled) {
  background-color: var(--color-button-success-hover);
}

.secondary {
  background-color: var(--color-destructive);
  color: var(--color-destructive-foreground);
}

.secondary:hover:not(:disabled) {
  background-color: oklch(0.5368 0.2078 25.3313);
}

@media screen and (max-width: 480px) {
  .button {
    padding: 8px 16px;
    font-size: 14px;
  }
}